# Build artifacts
.build/
.dist/

# Swift
*.swiftmodule
*.swiftdoc

# macOS
.DS_Store
default.profraw

# Application specific
*.dSYM.zip
*.dSYM

# Backup files
*~
*.swp
*.swo
*~.nib
*.bak
.tmp/

# Build ephemeral files
/node_modules

# Third-party vendor dependencies
/vendor/
